<h1>All regions</h1>
<table border="1" cellpadding="2">
  <tr>
    <th>
      Name
    </th>
    <th>
      Region
    </th>
    <% Account::INSTANCE_PARAMETERS.each do |p| %>
    <th>
      <%= wordize p %>
    </th>
    <% end %>
  </tr>
<% @instances.each do |instance| %>
  <tr>
    <td><%= instance[:name] %></td>
    <td><%= instance[:region] %></td>
    <% Account::INSTANCE_PARAMETERS.each do |p| %>
      <td><%= instance[p] %></td>
    <% end %>
  </tr>
<% end %>
</table>
